@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.flexbox {
  background: linear-gradient(155deg, #55c7ed, #2bb3e0, #3bc1ed);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 20px;
}

.search > h3 {
  font-weight: normal;
}

.search > h1,
.search > h3 {
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 1px #0091c2;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #0091c2);
}

.search > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 40px;
  right: 2px;
  transform: rotate(135deg);
}

.search > div > input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 25px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}
body {
    padding: 20px;
}
.search {
    margin-bottom: 20px;
}
#result {
    display: none; /* Ẩn lớp phủ ban đầu */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    overflow: auto;
    z-index: 1000; /* Đảm bảo lớp phủ xuất hiện trên các phần tử khác */
    opacity: 0; /* Ẩn lớp phủ bằng opacity */
    transition: opacity 1.5s ease-in-out; /* Thêm hiệu ứng chuyển tiếp cho opacity */
}
#result.show {
    display: block; /* Hiển thị lớp phủ */
    opacity: 1; /* Hiển thị lớp phủ hoàn toàn */
}
#result-content {
    background: #333;
    padding: 20px;
    border-radius: 8px;
    max-height: 80%;
    overflow-y: auto;
}
.paragraph {
    margin-bottom: 15px;
}
.close-btn {
    background: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    right: 20px;
}